input {
    margin: 0 10px 10px 10px !important; 
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.item {
    height: 60px;
}

.warning {
    height: 20px;
    margin: 10px;
    color: tomato;
}