.section {
    border: 1px solid wheat;
    border-radius: 5px;
    display: block;
    transition: border, box-shadow .3s;
    width: 400px;
    margin: 50px auto;
}
.section:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25);
}